<div class="container">
    <form class="example-form mat-elevation-z8">
        <h1>Minha Grana</h1>
        <div class="img-form">
        <img
            src="assets/.img/img-login.avif">
        </div>
            <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input 
            [formControl]="email"
            required
            [(ngModel)]="creds.login"
            name="email" 
            matInput 
            placeholder="Ex. seuemail@email.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>senha</mat-label>
            <input 
            [formControl]="senha"
            required
            [(ngModel)]="creds.plvPass"
            name="senha" 
            type="password" 
            matInput 
            placeholder="Ex. suasenha">
        </mat-form-field>
        <button (click)="logar()" [disabled]="!validaCampos()" class="mat-elevation-z4" mat-flat-button color="primary">Login</button>
        <button (click)="logar()" class="mat-elevation-z4" mat-button>Registrar</button>
    </form>
</div>